In [1]:
import numpy as np
import pandas as pd
import math

In [3]:
path = "./test1-pandas-numpy.csv"
df = pd.read_csv(path)
df.head(5)

,Plan_Number_ID,polsby,momi,schwar,reock,convex,Pop_dev,Pop_max,Pop_min,Max_dev,Sum_dev,Wt_dev,Num_splits
0,0,0.174606,0.721649,0.411504,0.433082,0.716154,8823,756754,747931,4451.647059,46903.64706,2759.510024,68
1,28,0.155564,0.718035,0.387776,0.413312,0.690476,11787,759252,747465,6869.352941,51630.23529,3040.585459,62
2,29,0.162915,0.729030,0.395732,0.434117,0.707680,11264,758482,747218,6099.352941,51521.64706,3033.002176,66
3,30,0.163654,0.702964,0.401350,0.403099,0.697137,11934,758751,746817,6368.352941,45930.35294,2702.430530,64
4,31,0.167260,0.693758,0.405025,0.413943,0.710129,12621,757586,744965,7417.647059,37156.47059,2183.548066,65

In [4]:
print("Maximum polsby value = ", np.max(df["polsby"]))

Maximum polsby value =  0.212842098

In [6]:
print("Maximum value of square roots of polsby = ", np.max(np.sqrt(df["polsby"])))

Maximum value of square roots of polsby =  0.4613481310247176

In [7]:
df["polsby_sqrt"] = np.sqrt(df["polsby"])
print("Max of polsby square roots in another way = ", np.max(df["polsby_sqrt"]))

Max of polsby square roots in another way =  0.4613481310247176